extend layout

header
	h3
		Apa


block content
	p
		apor är fina djur som gillar att hänga i svansen
		apor är fina djur som gillar att hänga i svansen
		apor är fina djur som gillar att hänga i svansen
		apor är fina djur som gillar att hänga i svansen

	p
		Hundar är fina djur som gillar att vifta på svansen
		Hundar är fina djur som gillar att vifta på svansen
		Hundar är fina djur som gillar att vifta på svansen
		Hundar är fina djur som gillar att vifta på svansen
		Hundar är fina djur som gillar att vifta på svansen
		Hundar är fina djur som gillar att vifta på svansen

	div
		input(type="text" name ="post")
		


.sidebar
	block sidebar

		.widget
			div
				h1 ApWidget
					
				p
					undrar om den funkar....


		.widget
			h1 vid Yetin
					

			p
				En vanlig side widget, denna borde ju funka kan man tycka!

